:root {
    --light-pink: #D6A99D;
    --light-yellow: #FBF3D5;
    --grey-green-100: #9CAFAA;
    --grey-green-500: #69847d;
    --light-green: #D6DAC8;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    min-height: 100vh;
    font-size: 1rem;
}

header {
    background-color: var(--light-pink);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main {
    background-color: var(--light-yellow);
}

footer {
    background-color: var(--grey-green-100);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: var(--light-green);
    border: 1px solid red;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 300px;
    width: 400px;
}

header button {
    padding: 16px;
    border-radius: 8px;
    border: 0.5px solid black;
    background-color: var(--grey-green-100);
}

header button:hover {
    transition: 0.2s;
    padding: 1.1rem;
    background-color: var(--grey-green-500);
}

main h2 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.output {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1rem;
    gap: 1rem;
}

.card {
    border-radius: 16px;
    border: 2px solid black;
    text-align: center;
    box-shadow: 6px 4px 6px black;
}

.card > * {
    margin: 8px;
}



/* dialog {
    animation: fade-out 0.4s ease-out;
}

dialog:open {
    animation: fade-in 0.4s ease-out;
}

dialog:open::backdrop {
    background-color: black;
    animation: backdrop-fade-in 0.4s ease-out forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scaleY(0);
        display: none;
    }

    100% {
        oacity: 1;
        transform: scaleY(1);
        display: block;
    }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }

  100% {
    opacity: 0;
    transform: scaleY(0);
    display: none;
  }
}

@keyframes backdrop-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.25;
  }
}

body,
button {
  font-family: system-ui;
} */